<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <head>
      <meta charset="UTF-8">
      <title>Aplicacion Web Alumno</title>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>

  <body>
    <section>
      <div class="container-fluid">
        <h1 class="text-center p-4">Clase 2º DAM</h1>
        <div class="container-lg  p-4 " style="width: 60rem;">
          <h3 class="text-center"> Listado de alumnos</h3>
          <div class="container p-4" style="width: 40rem;">
            <div class="row p-4">
              <!--Boton crear alumno-->
              <a type="button" class="btn btn-outline-success" th:href="@{crearAlumno}">Crear alumno</a>
            </div>
            <div class="row">
              <!-- msg creado -->
              <div
                th:if="${creado != null}"
                class="alert alert-success alert-dismissible fade show"
                role="alert">
                <i class="bi bi-check-circle-fill"><strong th:text="${creado}"/></i>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <!-- msg actualizado -->
              <div
                th:if="${actualizado != null}"
                class="alert alert-info alert-dismissible fade show"
                role="alert">
                <i class="bi bi-info-circle-fill"><strong th:text="${actualizado}"/></i>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="row p-4">
               <p> Mostrando <span sd:page-size-selector="javascript"></span> entradas </p>
              </div>
             <!-- tabla -->
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Edad</th>
                  <th scope="col">DNI</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="alumno, status : ${alumnos}">
                  <td scope="row" th:text="${alumno.getIdAlumno()}"></td>
                  <td th:text="${alumno.getNombre()}"></td>
                  <td th:text="${alumno.getApellido()}"></td>
                  <td th:text="${alumno.getEdad()}"></td>
                  <td th:text="${alumno.getDni()}"></td>
                  <!-- editar -->
                  <td><a class="btn btn-outline-primary" th:href="@{/alumnos/editar/{id} (id=${alumno.getIdAlumno()})}" ><i class="bi bi-pencil-square"></i></a></td>
                  <!-- eliminar -->
                  <td><a class="btn btn-outline-danger" th:href="@{/alumnos/eliminar/{id} (id=${alumno.getIdAlumno()})}" ><i class="bi bi-trash"></i></a></td>
                </tr>
                </tbody>
              </table>
              <!--Paginacion-->
<!--              <div class="row">
                <div class="col-sm-6">
                  <div sd:pagination-summary="">info</div>
                </div>
                <div class="col-sm-6">
                  <nav class="pull-right">
                    <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                      &lt;!&ndash; Pagination created by SpringDataDialect, this content is just for mockup &ndash;&gt;
                      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>-->
              <div class="row">
                <div class="col">
                  <nav class="">
                    <ul class="pagination" sd:pagination="full">
                      <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!--JS bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>